<app-header></app-header>
<div class="app-container">

  <div class="product-selector-container">
    <app-product-selector
      *ngFor="let product of productSelector | async"
      (click)="addProductToCart(product)"
      [label]="product.label">

    </app-product-selector>
  </div>

  <div class="display-pay">

    <h6 class="title">
      Current Sale
    </h6>

    <div class="product-list-container">
      <app-product-list
        *ngFor="let product of productList | async"
        [price]="product.price"
        [label]="product.label">

      </app-product-list>
    </div >

    <app-charge
      [amount]="sumAmount"
      [disabled]="disableCharge"
      (click)="charge()"></app-charge>
  </div>
</div>

<div class="popup" (click)="closePopUp()" *ngIf="showPopUp">

  <div class="receipt" (click)="$event.stopPropagation()">

    <div class="receipt-options">
      <p (click)="closePopUp()" class="button-font close">close</p>
      <p (click)="printReceipt()" class="button-font button print">print</p>
    </div>

    <h6 class="title">Receipt</h6>

    <div class="receipt-item-container">
      <div class="receipt-item" *ngFor="let product of productList| async">
        <p>{{product.label}}</p>
        <p>${{product.price | number:'.2-2'}}</p>
      </div>
    </div>

    <div class="receipt-total">
      <p>Total</p>
      <p>${{finalAmount | number:'.2-2'}}</p>
    </div>

  </div>

</div>
